extends dashboard

block content

    .register-tab.col-lg-6.col-sm-12.col-md-9.mx-auto
       h1(style="color:red") Oops Something Went Wrong

       a(href='/register') Try Again
                    
                        
                        

                
                        
                    

          
                    
