extends dashboard

block content

    .register-tab.col-lg-6.col-sm-12.col-md-9.mx-auto
       h1(style="color:green") Car Registration Successfull 

       a(href='/register') Return to register
                    
                        
                        

                
                        
                    

          
                    
